<%= form_for([:admin, @news_post] , :html => { class: 'form-horizontal' }) do |f| %>

  <%= render partial: 'form_errors', locals: { what: @news_post } %>

  <div class="form-group">
    <%= f.label :message, class: 'col-sm-2 control-label' %>
    <div class="col-sm-9">
    <%= f.text_area :message, rows: 10, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-4 form-button">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  </div>

<% end %>
